<!DOCTYPE html>
<html lang="en">
  <meta>
    <meta charset="UTF-8">
    <title>Hello World in World</title>
  </meta>

<script src="https://unpkg.com/vue"></script>
 <body>
<div id="app">
  <p>{{ message }}</p>
</div>

<script>
new Vue({
  el: '#app',
  data: {
    message: 'Hello World'
  }
})
    </script>
  </body>
</html>